@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .container {
    @apply px-12 max-w-[1600px] mx-auto py-16;
  }
  
.background-fade {
  mask-image: 
    linear-gradient(to left, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%), 
    linear-gradient(to bottom, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%);
  -webkit-mask-image: 
    linear-gradient(to left, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%), 
    linear-gradient(to bottom, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

@media (max-width: 768px) {
  .background-fade {
    mask-image: 
      linear-gradient(to bottom, transparent 0%, black 20%, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%), 
      linear-gradient(to left, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%);
    -webkit-mask-image: 
      linear-gradient(to bottom, transparent 0%, black 20%, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%), 
      linear-gradient(to left, black 60%, rgba(0,0,0,0.5) 80%, transparent 100%);
  }
}
}
